---

---

<section id="about-me" class="bg-image bg-no-repeat bg-cover bg-center lg:bg-top pt-36 lg:pt-[200px]">
    <h3 class="text-white font-medium px-4 py-2 text-center lg:text-3xl">A little about me</h3>
    <div class="grid lg:grid-cols-2 place-content-center max-w-[1200px] mx-auto py-6 lg:py-14 lg:pt-6">
        <img src="/assets/foto.jpg" alt="" class="img -rotate-4 rounded-2xl w-[220px] lg:w-[320px] shadow-black mx-auto lg:mt-8">
        <div class="py-10 px-6 lg:py-6 lg:px-0 text-center lg:text-start text-white flex flex-col justify-center max-w-[450px]">
            <p class="py-1 lg:text-lg">I studied <b class="text-[#189A6Eaa]">Systems Engineering</b> for two years at the National Technological University of Rosario. During that time, I developed a strong interest in software development and began expanding my knowledge through self-study.</p>
            <p class="py-1 lg:text-lg">I am a <b class="text-[#189A6Eaa]">self-motivated learner</b>, always eager to grow and acquire new skills. I continuously take courses to enhance my expertise and broaden my technical abilities.</p>
            <div class="py-4 lg:text-lg flex justify-center items-center lg:justify-start gap-3">
                <a href="/assets/Luciana Vanelli.pdf" download target="_blank" class="download border-2 border-[#189A6Eaa] rounded-xl py-1 px-2 transition-all">Download my CV</a>
                <a href="https://www.linkedin.com/in/luciana-vanelli/" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/brand-linkedin.svg" alt="Linkedin" class="w-6 h-6 hover:scale-110 transition-all">
                </a>
                <a href="https://github.com/luchivanelli" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/github.svg" alt="Github" class="w-6 h-6 hover:scale-110 transition-all">
                </a>
                <a href="mailto:lucianavanelli13@gmail.com" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/mail.svg" alt="Gmail" class="w-6 h-6 hover:scale-110 transition-all">
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .bg-image {
        background-image: url("/assets/onda2.svg");
        width: 100%;
    }

    h3 {
        text-shadow: 2px 2px 2px #189A6E;
    }

    .img {
        box-shadow: 10px 10px 20px black;
    }

    .download:hover {
        background-color: #189A6Eaa;
    }
</style>