---
import "../styles/global.css"
import Header from "../components/Header.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Portfolio LV</title>
	</head>
	<body class="bg-primary">
		<div id="app-wrapper">
			<div id="app-content">
				<Header/>
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>
	import gsap from "gsap";
	import ScrollTrigger from "gsap/ScrollTrigger";
	import ScrollSmoother from "gsap/ScrollSmoother";

	gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

	if (typeof window !== "undefined") {
    const isMobile = window.innerWidth <= 1024;
    
    const isMobile = window.innerWidth <= 1024;

		ScrollSmoother.create({
			wrapper: "#app-wrapper",
			content: "#app-content",
			smooth: isMobile ? 2.0 : 1.2,
			effects: true,
			smoothTouch: isMobile ? 1.2 : false,
			normalizeScroll: true,
			ignoreMobileResize: true,
			
			// Configuraciones específicas para móvil
			...(isMobile && {
					touchMultiplier: 0.7,
					smoothTouch: 1.2,
					speed: 0.8,
			})
		})
	}
	
</script>
